canvas {
    image-rendering: pixelated;
    position: absolute;
    left: 0;
    top: 0;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #111;
    overflow: hidden;
}

#buttons {
    position: absolute;
    top: 0px;
    right: 50px;
}