canvas {
    image-rendering: pixelated;
    position: absolute;
    left: calc(calc(100vw - 1280px)/2);
    top: calc(calc(100vh - 720px)/2);
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgb(10, 0, 10);
    overflow: hidden;

    margin: 0;
    padding: 0;
}

#buttons {
    position: absolute;
    top: 0px;
    right: 50px;
    
    height: 40px;
    font-size: 30px;
    line-height: 40px;
}

button {
    height: 100%;
    width: 80px;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    width: 400px;
    margin: 0;
    padding: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  input[type=range]::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }